In [8]:
#insterting students marks
subjects=['english','nepali','math']

num = int(input("Enter number of students: "))

students = []
x = 1
while x <= num:
    print(f"======Student {x}======")
    store_maks = []
    for i in range(0, 3):
        mask = int(input(f"Enter {subjects[i]} marks"))
        store_maks.append(mask)

    students.append(store_maks)
    x+=1

Enter number of students:  2

======Student 1======

Enter english marks 33
Enter nepali marks 43
Enter math marks 43

======Student 2======

Enter english marks 43
Enter nepali marks 43
Enter math marks 43

In [9]:
#calculating total marks of each students
result = []
total = 0

for ms in students:
    total_mask = 0
    for a in ms:
        total_mask += int(a)

    result.append(total_mask)

for res in result:
    print(f"Result: {res}")

Result: 119
Result: 129

In [ ]:
subjects=['math', 'english', 'science']
num=int(input("Enter the number of student:"))

mak=[]
x=1
while x<=num:
    
    print(f"========STUDENTS{x}========")
    for i in subjects:
        marks=int(input(f"enter the marks of {i}:"))    
        mark.append(marks)
        
    mak.append(mark)
    x+=1
    
print(mak)

Enter the number of student: 2

========STUDENTS1========

In [9]:
mak[0]
for i in mak:
    for 
    print(i)

[32, 35, 36]
[36, 37, 39]

In [14]:
result=[]
for i in mak:
    sum=0
    for j in i:
        sum=sum+j
    result.append(sum)
print(result)

[103, 112]

In [22]:
num=int(input("Enter the number of student:"))
subjects=['Math', 'Science', 'English']
mak=[]
x=1
while x<=num:
    print(f"=============STUDENT{x}===========")
    mark=[]
    for i in range(0,3):
            marks=int(input(f"Enter the marks of {subjects[i]}:"))
            mark.append(marks)
    mak.append(mark)
    x+=1
    

print(mak)

total_marks=0
result=[]

for ms in mak:
    sum=0
    for a in ms:
        sum=sum+a
    result.append(sum)
print(result)
for i in result:
    res=i*100/300
    print("percentage=",res)

Enter the number of student: 2

=============STUDENT1===========

Enter the marks of Math: 25
Enter the marks of Science: 27
Enter the marks of English: 29

=============STUDENT2===========

Enter the marks of Math: 23
Enter the marks of Science: 45
Enter the marks of English: 47

[[25, 27, 29], [23, 45, 47]]
[81, 115]
percentage= 27.0
percentage= 38.333333333333336

In [23]:
print(mak)

[[25, 27, 29], [23, 45, 47]]

In [27]:

 if res>60:
    print("first division.")
else:
    print("fail.")

fail.

In [1]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(3, 6, -5))

6

In [2]:
def max_of_two(x,y):
    if x>y:
        return x
    return y
def max_of_three(x,y,z):
    return max_of_two(x, max_of_two(y,z))
print(max_of_three(8,6,9))

9

In [7]:
def max_of_two(x,y):
    if x>y:
        return x
    return y
def max_of_three(x,y,z):
    return max_of_two(x,max_of_two(y,z))
print(max_of_three(8,11,27))

27

In [19]:
"""Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).The numbers obtained should be printed in a comma-separated sequence on 
a single line."""
l=[]
for i in range(2000,3200):
    if i%7==0 and i%5!=0:
        l.append(int(i))
print(l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [24]:
for i in range(2000,3200):
    if i%7==0 and i%5!=0:
        print(i, end=',')
print("\b")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [29]:
"""Write a program which can compute the factorial of a given numbers.The results should be printed in a comma-separated 
sequence on a single line.Suppose the following input is supplied to the program: 8 Then, the output should be:40320"""
def fact(x):
    if x==0:
        return 1
    return x*fact(x-1)
x=int(input("Enter any number:"))
print(fact(x))

Enter any number: 8

40320

In [36]:
n=int(input("Enter any number:"))
i=1
fact=1
while(i<=n):
    fact=fact*i;
    i+=1
print(f"factorial of given number {n} is:",fact)

Enter any number: 8

factorial of given number 8 is: 40320

In [43]:
def sum(numbers):
    total=0
    for i in numbers:
        total+=i
    return total
print(sum((5,6,7,8,9)))

35

In [49]:
def multiply(numbers):
    total=1
    for x in numbers:
        total*=x
    return total
print(multiply((5,2,3,10)))

300

In [2]:
x=10

def test():
    global x
    print(x)
    x=x+3
    print(x)
    
dir(test())

10
13

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [3]:
hash(test())

13
16

8794852685262

In [4]:
#funtion return value

def test():
    def get():
        return "hello get"
    return get
print(test()())

hello get

In [7]:
def test():
    def get():
        return "hello get"
    return get()
print(test())

hello get

In [10]:
def get_name():
    num_of_student=int(input("Enter the number of students:"))
    
    i=0
    students=[]
    
    while(i<num_of_student):
        name=input("Enter the name of students:")
        students.append(name)
        i+=1
        
    return students
    
def display():
    for name in get_name():
        print(name)
    
display()

Enter the number of students: 2
Enter the name of students: ram
Enter the name of students: syam

ram
syam

In [3]:
def students_name():
    num=int(input("Enter the number of students:"))
    i=0
    students_name=[]
    while(i<num):
        name=input("Enter name:")
        students_name.append(name)
        i+=1
    return(students_name)

print(students_name())

Enter the number of students: 2
Enter name: sagar
Enter name: hari

['sagar', 'hari']

In [1]:
def subjects_name():
    num=int

In [2]:
def total_number(*number):
    size_of_array=len(number)
    x=0
    sum=0
    
    while x<size_of_array:
        sum+=number[x]
        x+=1
        
    print(sum)
    
    
total_number(1,2,3,4,5,6,7,8,9,10)

55

In [6]:
def evenodd(*numbers):
    size=len(numbers)
    i=0
    sum1=0
    sum2=0
    while i<size:
        if numbers[i]%2==0:
            sum1+=numbers[i]
            i+=1
        else:
            sum2+=numbers[i]
            i+=1
        
    print("sum of even:",sum1)
    print("sum of odd:",sum2)
    
evenodd(1,2,3,4,5,6,7,8,9,10)

sum of even: 30
sum of odd: 25

In [18]:
def table(n,i=1):
    print(n*i)
    i+=1
    if i<=10:
        table(n,i)
    
table(12)

12
24
36
48
60
72
84
96
108
120

NameError: name 'student' is not defined

Enter the number of subjects: 3
Enter the subject name: math
Enter the subject name: science
Enter the subject name: english

['math', 'science', 'english']

'def score():\n    for k in range(number_of_students):\n        name=student(k)\n    for l in range(number_of_subjects):\n        subj=subjects(l)\n    \n    \n    \n    print(subjects[1])\n    print(student[1])\n    \nscore()\n    '

In [28]:
data=[
    [1,2,3,4,5],
    [6,7,8,9,10],
    [11,12,13,14,15],
    [16,17,18,19,20]
]

for i in data:
    for j in i:
        if j==13 or j==18:
            print(j)

13
18